$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizeing: border-box;
  box-sizeing: border-box;
}

/* header */

#logo {
  float: left;
  margin-right: 2%;
  font-size: 1.7em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 1%;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  background-color: inherit;
  color: #000;
  text-decoration: none;
}

/* sign-in */

.signin-form  {
  position: relative;
  padding-top: 10%;
}

#top {
  height: 100%;
  min-height: 650px;
  width: 900px;
  min-width: 900px;
}

#top .col-md-4 {
  margin-top: 10%;
  text-align: center;
}

#top .col-md-4 .checkbox {
  text-align: left;
}

#top .col-md-4 .form-group .form-control {
  margin: 5px;
}

.signin-option {
  float: right;  
}


.title-text {
  float: left;
  font-family: Arial;
  font-weight: bold;
  font-size: 150%;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.new_user {
  float: left;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}


#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}


.week-table-header {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 90%;
  border-bottom: 2px solid #111111;
  border-top: 1px solid #999;
  text-align: left;
}

th, td {
  padding: 7px 10px 10px 10px;
}

tr.even {
  background-color: #efefef;
}

tr:hover {
  background-color: #c3e6e5;
}

