<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3>
	     <%= @user.first_name%>
	     <%= @user.last_name%>
      </h3>
      <%= gravatar_for @user %>
      <p>
        Content
      </p>
    </div>
    <div class="col-md-4">
      <h3>State</h3>
      <p>
        Content
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>events</h3>
      <p>
        Content
      </p>
      <form>
      </form>
    </div>
    <div class="col-md-4">
      <h3>Time table</h3>
      <p>
        Content
      </p>
      <form>
      </form>
      <table class="table">
        <tbody>
          <tr>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <tbody>
          <tr>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <h3>Friends</h3>
      <p>
        Content
      </p>
      <form>
      </form>
    </div>
  </div>
</div>
