<% provide(:title, '') %>                                                       
<div class="jumbotron">
  <h1>Welcome to TimeBoard</h1>
  <p>
    This is the coolest!
  </p>
  <p>
    <a class="btn btn-primary btn-lg" href="#">Sign up</a>
  </p>
</div>
